body {
    display: flex;
    font-family: Salsa;

    background: rgb(251, 243, 219);
    background: linear-gradient(
        0deg,
        rgba(251, 243, 219, 1) 25%,
        rgb(226, 209, 151) 75%
    );
    /* This is a moving gradient example which is so cool but too distracting for the user */
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */

    justify-content: center;
    align-items: center;
}

body,
html {
    height: 100%;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

.create-new-game-button,
.join-game-button {
    font-size: xx-large;
    font-weight: bold;
    border: 5px black solid;
    justify-content: space-around;
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-radius: 8px;
    transition: 0.2s;
    box-shadow: 2px 2px 4px #000000;
    text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.5);
    color: black;
}

.create-new-game-button:hover,
.join-game-button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.create-new-game-button {
    background: rgb(168, 217, 236);
    background: linear-gradient(
        0deg,
        rgba(168, 217, 236, 1) 14%,
        rgb(124, 177, 196) 85%
    );
}
.home-page-container {
    display: inline-block;
}

.game-menu {
    display: flex;
    justify-content: space-evenly;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.home-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.join-game-button {
    background: rgb(236, 182, 215);
    background: linear-gradient(
        0deg,
        rgba(236, 182, 215, 1) 14%,
        rgb(216, 132, 184) 85%
    );
}

.title {
    display: flex;
    flex-direction: row;
    font-size: 7em;
    font-weight: bold;
    color: white;
    /* border: 8px black solid; */
    border-radius: 6px;
    text-shadow: 2px 2px 4px #000000;

    justify-content: center;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
    font-family: 'Pacifico', cursive;
}
